/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

[class*="col-"] {
  height: auto;
  border: 1px solid black;
  text-align: center;
}

h2, h3, h4 {
color: navy;
}

 .container-fluid, .container {
  border: 1px solid yellow;
}

/* elenchi puntati:  */
ul {
  list-style: none;
}
li {
  padding: 2%;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
}
/* fine elenchi puntati */



/*  header  */
/*  navbar */
.nav1left {
  text-align: left;
  padding: 1%;
}
.nav1right {
  text-align: right;
}

.nav2left {
  width: 20%;
}
.nav2left img {
  width: 100%;
}
.nav2center {
  width: 60%;
}
.nav2right {
  width: 20%;
  padding: 8px;
}
/* sezione grande */
h1 {
  color: white;
  text-align: left;
}
.grande {
  height: 600px;
  background-image: url(../img/sfondo.jpg);
}
.grandeleft {
  height: 600px;
  padding: 10%;
}
.grandeleft p {
  color: white;
  text-align: left;
}
.granderight {
  background: white;
  height: 500px;
  width: 400px;
  margin-top: 50px;
  margin-left: 100px;
}
/* sezione loghi:  */

.loghiescritte {
  background: lightblue;
  height: 250px;
}

.loghiescritte h4 {
  padding: 2%;
}

.innovative {
  height: 70px;
}

.docker img {
  width: 60%;
}
.gitlab img {
  width: 40%;
}
.slack img {
  width: 50%;
}
.hashicorp img {
  width: 60%;
}
.wework img {
  width: 50%;
}
.splunk img {
  width: 50%;
  padding-top: 7%;
}
/* fine footer */
/* inizio main */
/* sez kubernetes */
.Kubernetes {
  text-align: left;
}
/* sez designed:  */
.designed {
  background: #F3F5F9;
  padding-bottom: 3%;
}
.sample img {
  width: 70%;
  margin-top: 4%;
}
.lorem {
  margin-top: 2%;
}
/* sez built */
.built {
  padding-top: 4%;
}
.loghetti {
  text-align: left;
  margin: 3% 0;
}
  .scudo {
  font-size: 25px;
  color: navy;
}
