/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

[class*="col-"] {
  height: auto;
  border: 1px solid black;
  text-align: center;
}

h2, h3, {
color: navy;
}

h4 {
  color: grey;
  padding: 1%;
}

 .container-fluid, .container {
  border: 1px solid yellow;
}

/* elenchi puntati:  */
ul {
  list-style: none;
}
li {
  padding: 2%;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
}

  /* nav {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
} */

/* fine elenchi puntati */

/*  header  */
/*  navbar */
.nav1left {
  text-align: left;
  padding: 1%;
}
.nav1right {
  text-align: right;
}

.nav2left {
  width: 20%;
}
.nav2left img {
  width: 100%;
}
.nav2center {
  width: 60%;
}
.nav2right {
  width: 20%;
  padding: 8px;
}
/* sezione grande */
.grande {
  margin-top: 120px;
  height: 600px;
  background-image: url(../img/sfondo.jpg);
}

h1 {
  color: white;
  text-align: left;
  font-size: 60px;
}

.grandeleft h3 {
  color: lightgrey;
  text-align: left;
}

.grandeleft {
  height: 600px;
  padding: 10%;
}

.granderight {
  background: white;
  height: 500px;
  width: 400px;
  margin-top: 50px;
  margin-left: 100px;
}
.bottoni {
  background: #F3F5F9;
  width: 40%;
  text-align: left;
}
/* sezione loghi:  */

.loghiescritte {
  background: #F3F5F9;
  height: 250px;
}

.loghiescritte h4 {
  padding: 2%;
}

.innovative {
  height: 70px;
}

.docker img {
  width: 60%;
}
.gitlab img {
  width: 40%;
}
.slack img {
  width: 50%;
}
.hashicorp img {
  width: 60%;
}
.wework img {
  width: 50%;
}
.splunk img {
  width: 50%;
  padding-top: 7%;
}
/* fine footer */
/* inizio main */

/* sez kubernetes */
.kubernetesandmore h4 {
  color: navy;
}
.kubernetesandmore h3 {
  color: blue;
}
.Kubernetes {
  text-align: left;
}
/* sez designed:  */
.designed {
  background: #F3F5F9;
  padding: 3% 0;
}

.freccia {
  font-size: 25px;
  color: navy;
}
.sample img {
  width: 70%;
  margin: 3%;
}
.usekubernetes {
  margin-top: 2%;
  color: navy;
}
.pallina {
  color: blue;
  padding: 3px;
  font-size: 10px;
}
/* sez built */
.built {
  padding-top: 4%;
}
.logoalign {
  text-align: left;
  margin: 3% 0;
}
.scudo {
  font-size: 25px;
  color: blue;
}
.loghetti h4 {
  color: navy;
  font-weight: bold;
}
.loghetti h3, .loghetti a {
  color: blue;
}
/* sezione mappamondo */
.mappamondo {
  background-image: url(../img/mappamondo.svg);
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 100%;
}
.mappamondo h2 {
  color: white;
}
