/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

[class*="col-"] {
  height: 50px; /* DEBUG:  */
  border: 1px solid black;
  text-align: center;
}

/* elenchi puntati:  */
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 2%;
}
nav a {
  text-decoration: none;
}
/* fine elenchi puntati */



/*  header  */
/*  navbar */
.nav2left {
  width: 20%;
}
.nav2center {
  width: 60%;
}
.nav2right {
  width: 20%;
}
/* sezione grande */
h1 {
  color: white;
  text-align: left;
}
.grande {
  height: 500px;
  background: #0049FF;
}
.grandeleft {
  height: 500px;
  padding: 10%;
}
.grandeleft p {
  color: white;
  text-align: left;
}
.granderight {
  background: white;
  height: 350px;
  margin-top: 75px;
}
